@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  /* background-color: rgb(148, 203, 203); */
  /* width: 100vw; */
  /* min-height: 100vh; */
  /* position: fixed; */
  display: flex;
  justify-content: center;
  /* padding: 120px 24px 160px 24px; */
  pointer-events: none;
}

.dark-theme {
  background-color: #0a192f;
  color: #d7e3fc;

  --d1: #0a192f;
  --d2: #112240;
  --d3: #233554;

  --l1: #8892b0;
  --l2: #a8b2d1;
  --l3: #ccd6f6;
  --l4: #e6f1ff;

  --highlight: #64ffda;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.theme {
  --bg-primary: #14131a;
  --card-primary: #1c1b23;
  --btn-highlight: #2bd576;
  --btn-primary: #3a3942;
  --btn-secondary: #1c1b23;
  --text-primary: #8b8a91;
  --text-secondary: #79787f;
  --text-info: #4f4f52;
  --text-highlight: #fff;
}

.app {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.sidebar-wrapper {
  background-color: var(--card-primary);
  /* color: #2bd576; */

  .sidebar-options-wrapper {
    color: var(--text-primary);
  }
}

.S-letter-wrapper {
  color: #2bd576;
}

.header-wrapper {
  color: var(--text-highlight);
}

.cardPrimary {
  background-color: var(--card-primary);
}

.text-primary {
  color: var(--text-primary);
}

.bg-body {
  background-color: var(--bg-primary);
}

.highlight {
  color: var(--btn-highlight);
}

.bg-highlight {
  background-color: var(--btn-highlight);
}

#header {
  opacity: 0;
  animation-name: lefttoright;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.nav-wrapper {
  opacity: 0;
  animation-name: lefttoright;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.progress-bar {
  width: 100%;
  height: 7px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8px 8px;
}

#projects {
  opacity: 0;
  animation-name: move;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#skills {
  opacity: 0;
  animation-name: move;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#experience {
  opacity: 0;
  animation-name: move;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#certifications {
  opacity: 0;
  animation-name: move;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#contact {
  padding-bottom: 120px;
  opacity: 0;
  animation-name: move;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes move {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lefttoright {
  from {
    opacity: 0;
    left: -60%;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}

@keyframes uptodown {
  from {
    /* opacity: 0; */
    left: -60%;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}

.img-animation {
  position: relative;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 20px;
}

/* .img-animation::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 120%;

  background: linear-gradient(#00ccff, #d400d4);
  animation: animate 4s linear infinite;
} */

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-icon {
  position: relative;
  border-radius: 20px;
  padding: 2px;
  /* z-index: 10; */
}

.contacts-wrapper {
  max-width: 400px;
}

.Mail-wrapper {
  color: #df5f5a;

  :hover {
    color: #bb001b;
  }
}

.Git-wrapper {
  color: #fff;

  :hover {
    color: black;
  }
}

.LinkedIn-wrapper {
  color: #68a6df;

  :hover {
    color: #0077b5;
  }
}

/* .wwww {
  @apply bg-gradient-to-tr from-yellow-400 to fuchsia-600;
} */
